<div class="row">
  <div class="col-md-12">
    <h1>{{movie.title}}</h1>
  </div>
  <div class="col-md-4">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Genres:</strong> {{movie.genres}}</li>
        <li><strong>Release date:</strong> {{momentDate movie.releaseDate}}</li>
        <li><strong>image:</strong> {{movie.image}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p style="white-space: break-spaces;">{{movie.description}}</p>
  </div>
  <hr>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>