<div class="row">
  <div class="col-md-12">
    <h1>{{movie.title}}</h1>
    <p>[{{movie.Category.name}}]</p>
  </div>
  <div class="col-md-4">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Genres:</strong> {{movie.genres}}</li>
        <li><strong>Release date:</strong> {{momentDate movie.releaseDate}}</li>
        <li>
          <strong>image:</strong>
          <img class="img-responsive center-block" style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" src="{{movie.image}}" alt="movie image" onload="this.style.opacity=1;">
          <br>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p style="white-space: break-spaces;">{{movie.description}}</p>
  </div>
  <hr>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>