<div class="form-row mb-3">
  <label class="form-label" for="title">title</label>
  <input class="form-control" type="text" name="title" id="title" placeholder="Enter title" value="{{movie.title}}" required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="genres">genres</label>
  <input class="form-control" type="text" name="genres" id="genres" placeholder="Enter genres" value="{{movie.genres}}" required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="description">description</label>
  <textarea class="form-control" type="text" name="description" id="description" placeholder="Enter description"
    rows="3" required>{{movie.description}}</textarea>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="releaseDate">release date</label>
  <input class="form-control" type="date" name="releaseDate" id="releaseDate" placeholder="2022/10/17" value="{{momentDate movie.releaseDate}}" required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="image">image</label>
  <input class="form-control" type="text" name="image" id="image" placeholder="Enter image" value="{{movie.image}}" required>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
